
  @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

/* Estilo a toda la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Jua', sans-serif; 
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}



.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  padding: 0 30px 30px 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}

.menu .nav ul li {
  position: relative;
  float: left;
}

.navbar ul{
  display: flex;

}

.logo {
  width: 80px;
}

.menu .navbar ul li a {
  font-size: 18px;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 20px;
  font-family: "Inter";
  color: #AD1F1F;
  display: block;
  font-weight: 600;
}

.menu .navbar ul li a:hover {
  color: #d9e80b;
}

#menu {
  display: none;
}

.menu-icono{
  width: 25px;
}

.menu label {
  cursor:pointer;
  display: none;
}

.header-txt h1{
  font-family: "Jua";
  font-size: 50px;
  line-height: 45px;
  color:#006100;
}

.header-txt p{
  font-size: 16px;
  font-family: "Jua";
  color: #006100;
}

.btn-enviar {
  display: inline-block;
  font-size: 18px;
  color: #ffff;
  border: 10px;
  padding: 13px 25px;
  background: #AD1F1F;
  text-transform: capitalize;
}

.btn-enviar:hover {
  background-color:#da393998;
}

.header-content { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.formulario{
  text-decoration: none;
}

.header-txt {
  width: 50%;
}

.header img {
  text-align: right;
}

.header-img img {
  width: 500px;
}

.portada{
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
  color:#006100;
}

.header-txt .formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: #006100;
  text-decoration: none;
}



.beneficios {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0;
  text-align: center;
  background-color: #AD1F1F;
}

.beneficios h2 {
  font-family: "Jua";
  font-size: 50px;
  margin: 30px 0 20px 0;
  color: #ffff;
}


.beneficios-content .container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.beneficios-1 h3 {
  font-family: "Inter";
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffff;
}

.beneficios-1 p{
  font-size: 16px;
  color:#ffff;
  font-weight: 800;
}

.bnt-1 {
  color: #AD1F1F;
  border: 10px;
  background-color: #ffff;
  width: 80%;
  font-size: 16px;
  font-family: "Inter";
}



.cliente {
  margin: -5px;
  padding: 50px 0;
  text-align: center;
}

.cliente h2{
  font-size: 50px;
  font-family: "Jua";
  margin-bottom: 50px;
  color: #006100;
}

.cliente-1 {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 35px;
}

.cliente-txt {
  width: 50%;
}

.cliente-in {
  margin-left: 20px;
}

.cliente-in h3{
  font-family: "Inter";
  font-size: 30px;
  text-transform: capitalize;
}

.cliente-in p{
  font-size: 16px;
  color: #006100;
  font-weight: 900;
}

.cliente-img {
  width: 50%;
}

.cliente-img img{
  width: 500px;
}

.bg-contacto2 {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-contacto {
  padding: 50px 0;
  text-align: center;
  flex-direction: column;
  background-color: #ffff;
}

.menu-contacto h2{
  font-size: 50px;
  font-family: "Jua";
  margin-bottom: 50px;
  color: #AD1F1F;
}

.menu-content {
  display: grid;
  grid-gap: 35px;
}


.menu-1 h3{
  font-size: 40px;
  font-family: "Inter";
  margin-bottom: 15px;
}

.menu-1 p{
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 25px;
  color: #AD1F1F;
}

.menu-1 {
  grid-template-columns: repeat(2,1fr);
}

.menu-1,.rellenar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 50px;
}

.from.rellenar{
  flex-direction: column;
  border: 50px;
}

.footer {
  padding: 50px 0;
  background-color: #006100;
}

.footer-content { 
  display: flex;
  justify-content: space-between;
}

.conocenos {
  width: 30%;
}

.conocenos p{
  color: #ffff;
}

.link h3{
  color: #ffff;
  font-size: 17px;
  margin-bottom: 10px;
}

.link a{
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  color: #ffff;
}

.link a:hover {
  color:rgb(227, 243, 8)
}






.fruta h2{
  color: #006100;
  font-family: "Jua";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 35px;
}

.fruta h3{
  color: #006100;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 35px;
}

.fruta {
  padding: 50px 0;
  text-align: center;
}

.fruta-content {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 35px
}

.fruta-1 img{
  width: 250px;
}



.privacidad h2{
  color: #006100;
  font-family: "Jua";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 35px;
}






@media (max-width:991px){
  .menu {
    padding: 30px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #AD1F1F;
    display: none;
  }

  .menu .nav ul li {
    width: 100%;
  }

  .menu .navbar ul li a{
    color: #ffff;
  }

  #menu:checked~ .navbar{
    display: initial;
  }

  .header{
    min-height: 0vh;
  }

  .header-content{
    flex-direction: column;
    padding: 30px 30px 30px 30px ;
    text-align: center;
  }


  .header-txt {
    width: 100%;
    margin-bottom: 35px;
  }

  .header-txt h1 {
    font-size: 50px;
    line-height: 50px;
    font-size: 50px;
  }

  .header-txt p{
    font-size: 25px;
  }
  .header-img{
    width: 100%;
  }

  .header-img img {
    width: 100%;
  }

  .beneficios{
    padding: 30px;
    background-color: #AD1F1F;
  }

  .beneficios h2{
    margin: 0;
    font-size: 40px;
  }

  .beneficios-content{
    flex-direction: column;
    margin-bottom: 15px;
  }

  .beneficios-1 {
    padding: 0 25px;
    margin-bottom: 25px;
  }

  .cliente {
    padding: 30px;
  }


  .cliente h2{
    font-size: 40px;
  }

  .cliente-1 {
    flex-direction: column;
  }

  .cliente-txt {
    width: 100%;
  }

  .cliente-in {
    margin-left: 40px;
  }

  .cliente-img {
    width: 100%;
    order: 2;
  }

  .cliente-img img {
    width: 100%;
  }
  .bg-contacto2 {
    display: none;
  }

  .menu-contacto{
    padding: 30px;
  }

  .menu-1, .rellenar{
    align-items: none;
  }
  .menu-contacto h2 {
    margin-bottom: 10px;
    font-size: 40px;
  }

  .menu-content {
    grid-template-columns: repeat(1,1fr);
  }

  .footer {
    padding: 30px;
  }

  .footer-content{
    flex-direction: column;
    text-align: center;
  }

  .conocenos {
    text-align: center;
    width: 100%;
  }
}
